<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <meta charset="utf-8" />
  <title>{{__ "home.headTitle"}}</title>
  <meta name="description" content="{{__ "home.headDesc"}}">
  <meta content="initial-scale=1" name="viewport">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <link rel="stylesheet" href="/dist/home.bundle.css">
  <link href="/img/logo/favicon.png" rel="icon" type="image/png">
</head>
<body>
<div class="feedback-wrapper">
  <h1>{{__ "home.pageTitle"}}</h1>
</div>
<div class="page-content">
  {{{body}}}
</div>
<script type="text/javascript" src="/dist/home.bundle.js"></script>
</body>
</html>
