<nav>
  <a href="/admin" class="page-navigation">
    <img src="/img/nav/previous.svg" alt="admin-page">
    <p>{{__ "admin.nav.home"}}</p>
  </a>
  <h1>{{__ "admin.pageTitle"}}</h1>
</nav>
<main class="admin-articles">
  <a href="/admin/article/edit" class="new-article">
    <p>New article</p>
    <img src="/img/action/edit.svg" alt="new-article">
  </a>
  <ul id="articles-list" class="admin-article-list">
    {{#each articles}}
      <li>
        <a href="/admin/article/edit/{{this.id}}" class="edit-article">
          <img src="/img/action/edit.svg" alt="edit-profile">
        </a>
        <h3>{{this.title}}</h3>
        <p>{{this.createdAt}}</p>
        <!--<img src="/img/action/delete.svg" class="delete-article" alt="delete-article">-->
        <p class="published-article">Published <img src="{{#if this.published}}/img/auth/verified.svg{{else}}/img/action/delete.svg{{/if}}" alt="published-status"></p>
      </li>
    {{/each}}
  </ul>
  <p class="pagination">{{page}}/{{pages}}</p>
</main>
